# JetBrains related folders
.idea
Simulation/.idea

# Outputs #
Simulation/output/*
Visualization/output/*

# Java output #
target

# Python env #
Visualization/src/venv
Visualization/src/Visualization.iml

TP3.iml

*.pyc
